.chat {
  text-align: center;
  max-height: 100vh;
}

.roomName {
  width: 80%;
  margin: 0 auto;
  color: white;
  background: #272727;
  border: 2px solid #0a0a0a;
  border-radius: 10px;
  overflow: auto;
  white-space: nowrap;
}

.inputMessage {
  width: 80%;
  margin: 0 auto;
  border: 2px solid #0a0a0a;
  font-size: 2rem;
  background: #272727;
  color: white;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 5px;
}

.inputMessage::placeholder {
  color: #666464;
  font-size: 1.5rem;
}
