.chatMessages {
  width: 80%;
  height: 80vh;
  margin: 0 auto;
  overflow-y: auto;
  overflow-x: hidden;
  position: sticky;
  bottom: 0;
}

.chatMessage {
  margin-left: 1%;
}

.chatMessage.user {
  display: flex;
  justify-content: flex-end;
  margin-right: 1%;
}

.chatBubble {
  background: #272727;
  width: max-content;
  padding: 0.5% 4%;
  border-radius: 10px;
  color: white;
}

.chatBubble.long {
  width: 50%;
  word-wrap: break-word;
}

.chatBubble.user {
  background: #6c80c6;
  margin-right: 1%;
  margin-bottom: 1%;
}

.messageInfo.user {
  display: flex;
  justify-content: flex-end;
  margin-right: 1%;
}

.messageInfo p {
  color: #67676a;
  text-align: left;
  margin: 0;
}
